
.file-info {
    display: inline-block;
    vertical-align: top;
    margin-right: 40px; /* Adjust the margin for spacing between file info and action buttons */
}

strong{
    margin: 0px 30px;
}
.share-down{
    margin: 0px 20px;
}

.file-name {
    color: blue;
}

.file-size {
    color: green;
    margin-left: 10px; /* Adjust the margin for spacing between file name and file size */
}

.action-buttons {
    display: inline-block;
    vertical-align: top;
}

/* Optional: Adjust the margin for spacing between action buttons and other elements */
.action-buttons {
    margin-left: 10px;
}

* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: url("/static/user/picture/northern1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


#navbarhas{
    padding: 8px;

}

#navbarNav{
    margin: 0px 0px 0px 450px;
}

#sh-do-has{
    margin:10px 50px 0px 0px;
}

.navbar-brand {
    font-family: 'Lato', sans-serif;
    color:white;
    font-weight: 700;
    font-size: x-large;
    /* Adjust the color as needed */
}

.nav-item_welcome {

    text-align: right;
    display: inline-block;
    margin-left: 750px;
    color: white;
    /* Adjust as needed */
}

.nav-item_logout {
    text-align: right;
    margin-left: 10px;
    /* Adjust as needed */
}

.head1 {
    position: absolute;
    display: inline-block;
    font-family: sans-serif;
    color: rgb(17, 17, 17);
    font-size:125%;
    text-align: center;
    font-weight: 530;
    left:35%;
    margin-top: 10px;

    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #c6c3c3;
    width: 145px;
    height: 50px;
    border-radius: 0 0 20px 20px;

}

/* styles.css */

/* styles.css */

.border-example {
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(15px);
    border: 0px solid #c6c3c3;

    width: 800px;
    border-radius: 10px;
    padding: 20px 0px 20px 0px;
    text-align: center;
    margin: auto;
    background: transparent;
    box-shadow: #c6c3c3 15px 0 0 0;
    margin-top: 100px;
    margin-bottom: 30px;
}

/* .border-example::before{
    content: "";
    position: absolute;
    top: 0;
    left: 240px;
    width: 40px;
    height: 45px;
    border-top-right-radius: 50%;
    background: transparent;
    box-shadow: #c6c3c3 15px 0 0 0 ;
}

.border-example::after{
    content: "";
    position: absolute;
    top: 0;
    right: 240px;
    width: 40px;
    height: 45px;
    border-top-left-radius: 50%;
    background: transparent;
    box-shadow: #c6c3c3 -15px 0 0 0 ;
} */

.para {
    margin-top: 50px;
    padding-top: 20px;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;

    border: 0px;

    /* display: inline-block; */
    
}



/* Style for the second button with class "dw2" */
.dw2 {
    background-color: #008CBA;
}

body {
    background-color: rgb(238, 247, 222);
    background-size: cover;
    /* Optional: Adjust the background size to cover the entire body */
    background-repeat: no-repeat;
    /* Optional: Prevent the background image from repeating */
}


.border2 {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(15px);
    border: 0px solid #c6c3c3;
    padding: 20px 0px 20px 0px;

    width: 800px;
    border-radius: 10px;
    text-align: center;
    margin: 0 auto;
    background: transparent;
    box-shadow: #c6c3c3 15px 0 0 0;

}

.para2 {
    margin-top: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}

.head2 {
    position: absolute;
    display: inline-block;
    font-family: sans-serif;
    color: rgb(0, 0, 0);
    font-size:125%;
    text-align: center;
    font-weight: 530;
    left:37%;

    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #c6c3c3;
    width: 150px;
    height: 50px;
    border-radius: 0 0 20px 20px;
}

/* hass nav */
.navbar {
    background-color: rgba(0, 0, 0, 0.5);
    /* background-color: #333; */
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: rgb(41, 96, 192);
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

 
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-list li {
    margin-right: 20px;
}

.nav-list a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.nav-list a:hover {
    color: #ffd700; /* Change the color on hover */
}

.content {
    padding: 20px;
}