/* POPPINS FONT */

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
  background-image: url("/static/user/picture/login.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* ===== Reusable CSS ===== */
a{
    text-decoration: none;
    color: #fffefe;
}


/* ===== WRAPPER ===== */
.wrapper{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login_box{
    position: relative;
    width: 450px;
    backdrop-filter: blur(25px);
    border: 2px solid #c6c3c3;
    border-radius: 15px;
    padding: 7.5em 2.5em 4em 2.5em;
    color: #ffffff;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
}
.login-header{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #c6c3c3;
    width: 140px;
    height: 70px;
    border-radius: 0 0 20px 20px;
}
.login-header span{
    font-size: 30px;
    color: black;
}
.login-header::before{
    content: "";
    position: absolute;
    top: 0;
    left: -30px;
    width: 30px;
    height: 30px;
    border-top-right-radius: 50%;
    background: transparent;
    box-shadow: #c6c3c3 15px 0 0 0 ;
}
.login-header::after{
    content: "";
    position: absolute;
    top: 0;
    right: -30px;
    width: 30px;
    height: 30px;
    border-top-left-radius: 50%;
    background: transparent;
    box-shadow: #c6c3c3 -15px 0 0 0 ;
}
.input_box{
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}
.input-field{
    width: 100%;
    height: 55px;
    font-size: 16px;
    background: transparent;
    color: #ffffff;
    padding-inline: 20px 50px;
    border: 2px solid #c6c3c3;
    border-radius: 30px;
    outline: none;
}
#user{
    margin-bottom: 10px;
}
.label{
    position: absolute;
    top: 15px;
    left: 20px;
    transition: .2s;
}
.input-field:focus ~ .label,
.input-field:valid ~ .label{
    position: absolute;
    top: -10px;
    left: 20px;
    font-size: 14px;
    background-color: #c6c3c3;
    border-radius: 30px;
    color: black;
    padding: 0 10px;
}
.icon{
    position: absolute;
    top: 18px;
    right: 25px;
    font-size: 20px;
}
.remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 15px;
}
.input-submit{
    width: 100%;
    height: 50px;
    background: #ececec;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s;
}
.input-submit:hover{
    background: #ffffff;
}
.register{
    text-align: center;
}

