/* @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,700&family=Roboto&display=swap"); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-image: url("/static/user/picture/northern1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: rgb(41, 96, 192);
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-list li {
    margin-right: 20px;
}

.nav-list a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.nav-list a:hover {
    color: #ffd700;
}

.user {
  position: absolute;
  top: 190px;
  left: 100px;
  color: rgb(255, 250, 250);
  font-weight: bold;
  font-size: large;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.message {
  position: absolute;
  top: 130px;
  left: 20px;
  color: rgb(255, 254, 254);
  font-weight: bold;
  display: flex;
  flex-direction: column;
  font-size: large;
}
