body{
    background-color: rgb(15, 4, 39);
    color: rgb(0, 117, 219);

    text-align: center;

    display: flex;
    flex-direction: row;
    justify-content: center;

}

a{
    color: rgb(13, 91, 159);
}