@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-image: url("/static/user/picture/northern1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container{
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 400px;
    margin: auto;
    margin-top: 150px;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(15px);
    /* border: 2px solid #c6c3c3; */
    border-radius: 25px;
    padding: 100px 35px 35px 20px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.5);
}

.container h1{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #c6c3c3;
    width: 145px;
    height: 50px;
    border-radius: 0 0 20px 20px;
}

.container h1::before{
    content: "";
    position: absolute;
    top: 0;
    left: -30px;
    width: 30px;
    height: 30px;
    border-top-right-radius: 50%;
    background: transparent;
    box-shadow: #c6c3c3 15px 0 0 0 ;
}

.container h1::after{
    content: "";
    position: absolute;
    top: 0;
    right: -30px;
    width: 30px;
    height: 30px;
    border-top-left-radius: 50%;
    background: transparent;
    box-shadow: #c6c3c3 -15px 0 0 0 ;
}

.container form {
    width: 80%; /* Adjust the width */
    color: #ffffff;
    border: 2px solid #c6c3c3;
    border-radius: 30px;
    padding: 20px; /* Add some padding */
    position: absolute;
    top: 20%;
    left: 10%;
}

.container form input{
    width: 100%;
    height: 45px;
    font-size: 20px;
    background: transparent;
    color: #ffffff;
    padding-inline: 20px 20px;
    border: 2px solid #c6c3c3;
    border-radius: 20px;
    margin-bottom: 15px;
}

.container form input[type="submit"] {
    width: 45%;
    height: 40px;
    position: absolute;
    bottom: -40%;
    left : 50%;
    transform: translateX(-50%);
    font-size: 25px;
}

.container form input[type="submit"]:hover{
    background: #c6c3c3;
}

/* hasss cutom nav bar */

.navbar {
    background-color: rgba(0, 0, 0, 0.5);
    /* background-color: #333; */
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: rgb(41, 96, 192);
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-list li {
    margin-right: 20px;
}

.nav-list a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.nav-list a:hover {
    color: #ffd700; /* Change the color on hover */
}

.content {
    padding: 20px;
}