<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Bootstrap CSS link -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="/static/user/homeAbhi.css?v=2">
</head>

<body>

    <div class="navbar">
        <div class="logo">File Share</div>
        <ul class="nav-list">
            <li><a href="{% url 'sharing_app:upload'%}">Upload File</a></li>
            <li><a href="{% url 'user_app:profile'%}">Profile</a></li>
            <li><a href="{% url 'user_app:logout'%}">Logout</a></li>
        </ul>
    </div>
    
    <!-- Bootstrap Navbar -->
    <!-- <nav class="navbar navbar-expand-lg navbar-white " id="navbarhas"> -->
        <!-- Replace "Navbar" with "FILE SHARE" -->
        <!-- <div>
            <a class="navbar-brand" href="#">FILE SHARE</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item_welcome"><a class="nav-link">Welcome, {{user.username}}</a></li>
                <li class="nav-item_logout"><a class="nav-link" href="{% url 'sharing_app:upload'%}">Upload Files</a></li>
                <li class="nav-item_logout"><a class="nav-link" href="{% url 'user_app:profile'%}">Profile</a></li>
                <li class="nav-item_logout"><a class="nav-link" href="{% url 'user_app:logout'%}">Logout</a></li>
            </ul>
        </div>
    </nav> -->

    <!-- Bootstrap JavaScript and Popper.js -->
    <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> -->

    <div class="border-example">
        <h5 class="head1">UPLOADED FILES</h5>
        <div class="para">
            {% if user_files %}
                <ul>
                    {% for file in user_files %}
                        {% if not file.shared %}

                            <div class="file-info">
                                <strong style="color:rgb(255, 255, 255)">File Name:  {{ file.fileName }} </strong>
                                <strong style="color:rgb(255, 255, 255)">File Size: {{ file.fileSize }} mb </strong> 
                            </div>
                            <div class="action-buttons">
                                <a class="share-down" href="{% url 'sharing_app:download' file_id=file.id %}" style="color: rgb(34, 216, 156);" class="dw1">DOWNLOAD</a>
                                <a class="share-down" href="{% url 'sharing_app:share' file_id=file.id %}" style="color: rgb(95, 152, 133);" class="dw1">SHARE</a>
                            </div>
                            <br><br>
                        {% endif %}
                    {% endfor %}
                </ul>
            {% else %}
                <p>No files uploaded yet.</p>
            {% endif %}


        </div>
    </div>


    <div class="border2">
        <p class="head2">SHARED FILES</p>
        <div class="para2">
            {% if user_files %}
                <ul>
                    {% for file in user_files %}
                        {% if file.shared %}

                            <div class="file-info">
                                <strong style="color:rgb(255, 255, 255)">File Name:  {{ file.fileName }} </strong>
                                <strong style="color:rgb(255, 255, 255)">File Size: {{ file.fileSize }} mb </strong> 
                                <strong style="color:rgb(255, 255, 255)">Sender: {{ file.sender }} </strong> 
                            </div>
                            <div class="action-buttons" id="sh-do-has">
                                <a class="share-down" href="{% url 'sharing_app:download' file_id=file.id %}" style="color: rgb(34, 216, 156);" class="dw1">DOWNLOAD</a>
                                <a class="share-down" href="{% url 'sharing_app:share' file_id=file.id %}" style="color: rgb(95, 152, 133);" class="dw1">SHARE</a>
                            </div>
                            <br><br>
                        {% endif %}
                    {% endfor %}
                </ul>
            {% else %}
                <p>No files SHared yet.</p>
            {% endif %}

        </div>
    </div> 

</body>

</html>
