<!DOCTYPE html>
<html>
  <head>
    <title>My Portfolio</title>
    <link rel="stylesheet" type="text/css" href="/static/user/profileAbhi.css?v=2">
  </head>
  <body>
    

      <nav>
        <h1 class="heading1">HOMEPAGE</h1>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </nav>
      <h2 class="head2">This is a File Share Portal, You can upload files to cloud or share with your friends</h2>
    <main>
      <h2 class="heading2">SIGN IN IF YOU HAVE AN ACCOUNT</h2>
      <button class="button1" onclick="location.href='signin.html'">Sign in</button>
      <h2 class="heading3">DONT HAVE AND ACCOUNT?
        PLEASE SIGN UP.
      </h2>
      <button class="button2" onclick="location.href='signup.html'">Sign up</button>
    </main>
   
  </body>
</html>
