{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Registration</title>
        <link rel="stylesheet" href="/static/user/register.css">
    </head>
    <body>
        <div>

            <form method="POST">
                {%csrf_token%}

                <fieldset>
                    <legend> Sign Up </legend>

                    {{ regForm|crispy }}

                    <div><button type="submit"> Sign Up </button></div>

                </fieldset>
                
            </form>

            <div><text>If you already have an account <a href="{% url 'user_app:login' %}">log in</a> ! </text></div>
        </div>
    </body>
</html>